/** colors */
/** reusable */
/** post */
.content {
  padding: 0.8em 1em;
}
.content table .gutter {
  display: none;
}
.content .post-abstract {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fafafa;
  border-radius: 0.3em;
  margin-bottom: 0.8em;
}
.content .post-abstract .post-title {
  align-self: center;
  font-size: large;
  font-weight: bold;
  font-family: rockwell;
  margin-bottom: 0.5em;
}
.content .post-abstract .post-keywords-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: large;
  font-family: fantasy;
}
.content .post-abstract .post-keywords-title span {
  margin-left: 0.5em;
}
.content .post-abstract .post-keywords {
  margin: 0.2em 0.4em 0em 0.4em;
  padding: 0.5em;
}
.content .post-abstract .post-keywords a, .content .post-abstract .post-keywords a:visited {
  text-decoration: none;
  color: black;
}
.content .post-keywords-line {
  width: 100%;
  height: 1.5pt;
  background-color: black;
  margin: 0.3em 0em;
}
.content .markdown-body h1, .content .markdown-body h2, .content .markdown-body h3, .content .markdown-body h4, .content .markdown-body h5, .content .markdown-body h6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .markdown-body h1 .hide, .content .markdown-body h2 .hide, .content .markdown-body h3 .hide, .content .markdown-body h4 .hide, .content .markdown-body h5 .hide, .content .markdown-body h6 .hide {
  display: none;
}
.content .markdown-body h1 .show, .content .markdown-body h2 .show, .content .markdown-body h3 .show, .content .markdown-body h4 .show, .content .markdown-body h5 .show, .content .markdown-body h6 .show {
  display: inline;
}
.content .markdown-body h1.hide .hide, .content .markdown-body h2.hide .hide, .content .markdown-body h3.hide .hide, .content .markdown-body h4.hide .hide, .content .markdown-body h5.hide .hide, .content .markdown-body h6.hide .hide {
  display: inline;
}
.content .markdown-body h1.hide .show, .content .markdown-body h2.hide .show, .content .markdown-body h3.hide .show, .content .markdown-body h4.hide .show, .content .markdown-body h5.hide .show, .content .markdown-body h6.hide .show {
  display: none;
}
.content .markdown-body .--hide-- {
  display: none !important;
}

.prev-next-line {
  width: 100%;
  height: 1.5pt;
  margin: 1.8em 0em 0.5em 0em;
  background-color: black;
}

.content-prev-next {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.2em;
}
.content-prev-next > div > a {
  text-decoration: none;
}
.content-prev-next > div > a, .content-prev-next > div > a:visited {
  color: #646496;
}
.content-prev-next .content-prev, .content-prev-next .content-next {
  margin: 0.2em 0.8em;
}