/** fonts */
@font-face {
  font-family: rockwell;
  src: url(/fonts/rockwell/ROCK.TTF);
}
@font-face {
  font-family: rockwell;
  font-weight: bold;
  src: url(/fonts/rockwell/ROCKB.TTF);
}
@font-face {
  font-family: constantia;
  src: url(/fonts/constantia/constan.ttf);
}
@font-face {
  font-family: constantia;
  font-weight: bold;
  src: url(/fonts/constantia/constanb.ttf);
}
/** archieve, category, tag list*/
.group-title {
  font-size: large;
}

.post-list .post-list-item .post-title {
  font-size: medium;
}
.post-list .post-list-item .post-title a {
  text-decoration: none;
  color: black;
}

/** colors */
/** dimension */
/** base layout */
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  margin: 0px;
  min-height: 100%;
}
body > div {
  width: 100%;
}

/** default layout (desktop) */
.body-container {
  background-color: #f1f3f4;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.body-container .content {
  order: 1;
  box-sizing: border-box;
  width: 80%;
  min-height: 80vh;
}
.body-container .sidebar {
  order: 2;
  box-sizing: border-box;
  width: 20%;
}
.body-container .content, .body-container .sidebar {
  background-color: white;
}

/** adjust margin width */
@media (max-width: 1300px) {
  .body-container {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (max-width: 1000px) {
  .body-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 800px) {
  .body-container {
    padding-left: 1%;
    padding-right: 1%;
  }
}
/** telephone layout */
@media (max-width: 600px) {
  .body-container {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: column;
  }
  .body-container .content {
    order: 2;
    width: 100%;
    min-height: 60vh;
  }
  .body-container .sidebar {
    order: 1;
    width: 100%;
  }
}
/** reusable */
/** index page */
.post {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 0.8em;
  border-radius: 0.4em;
  background-color: #f0f0f0;
}
.post a {
  text-decoration: none;
}
.post .post-title {
  font-size: large;
  margin-bottom: 0.6em;
}
.post .post-title a, .post .post-title a:visited {
  color: black;
}
.post .post-title a {
  margin-left: 1.2em;
}
.post .post-date {
  font-size: small;
  margin-bottom: 0.3em;
}
.post .post-date .date {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post .post-date .date a, .post .post-date .date a:visited {
  color: #141414;
}
.post .post-date .date span {
  margin-left: 0.4em;
}
.post .post-date .categories {
  margin-left: 1em;
}
.post .post-date .categories i {
  margin-right: 0.2em;
}
.post .post-date .categories a, .post .post-date .categories a:visited {
  color: #282828;
}
.post .post-content {
  margin: 0em 0.4em 0.3em 0.4em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post .post-readmore {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post .post-readmore a, .post .post-readmore a:visited {
  color: black;
}

.post:last-child {
  margin-bottom: 0em;
}

/** post */
.content {
  padding: 0.8em 1em;
}
.content table .gutter {
  display: none;
}
.content .post-abstract {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fafafa;
  border-radius: 0.3em;
  margin-bottom: 0.8em;
}
.content .post-abstract .post-title {
  align-self: center;
  font-size: large;
  font-weight: bold;
  font-family: rockwell;
  margin-bottom: 0.5em;
}
.content .post-abstract .post-keywords-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: large;
  font-family: fantasy;
}
.content .post-abstract .post-keywords-title span {
  margin-left: 0.5em;
}
.content .post-abstract .post-keywords {
  margin: 0.2em 0.4em 0em 0.4em;
  padding: 0.5em;
}
.content .post-abstract .post-keywords a, .content .post-abstract .post-keywords a:visited {
  text-decoration: none;
  color: black;
}
.content .post-keywords-line {
  width: 100%;
  height: 1.5pt;
  background-color: black;
  margin: 0.3em 0em;
}
.content .markdown-body h1, .content .markdown-body h2, .content .markdown-body h3, .content .markdown-body h4, .content .markdown-body h5, .content .markdown-body h6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .markdown-body h1 .hide, .content .markdown-body h2 .hide, .content .markdown-body h3 .hide, .content .markdown-body h4 .hide, .content .markdown-body h5 .hide, .content .markdown-body h6 .hide {
  display: none;
}
.content .markdown-body h1 .show, .content .markdown-body h2 .show, .content .markdown-body h3 .show, .content .markdown-body h4 .show, .content .markdown-body h5 .show, .content .markdown-body h6 .show {
  display: inline;
}
.content .markdown-body h1.hide .hide, .content .markdown-body h2.hide .hide, .content .markdown-body h3.hide .hide, .content .markdown-body h4.hide .hide, .content .markdown-body h5.hide .hide, .content .markdown-body h6.hide .hide {
  display: inline;
}
.content .markdown-body h1.hide .show, .content .markdown-body h2.hide .show, .content .markdown-body h3.hide .show, .content .markdown-body h4.hide .show, .content .markdown-body h5.hide .show, .content .markdown-body h6.hide .show {
  display: none;
}
.content .markdown-body .--hide-- {
  display: none !important;
}

.prev-next-line {
  width: 100%;
  height: 1.5pt;
  margin: 1.8em 0em 0.5em 0em;
  background-color: black;
}

.content-prev-next {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.2em;
}
.content-prev-next > div > a {
  text-decoration: none;
}
.content-prev-next > div > a, .content-prev-next > div > a:visited {
  color: #646496;
}
.content-prev-next .content-prev, .content-prev-next .content-next {
  margin: 0.2em 0.8em;
}
/** top bar styles */
.top-bar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0em 0em 0.1em 0em;
  align-content: space-around;
  background-color: #db3236;
}
.top-bar li .text {
  display: none;
}
.top-bar li:hover .text {
  display: inline;
}
.top-bar li:hover .icon {
  display: none;
}
.top-bar li {
  flex-basis: 1em;
  flex-grow: 1;
  padding: 0.3em 0.5em;
  margin: 0em 0.5em;
  text-align: center;
  border-radius: 0.3em;
}
.top-bar li > a, .top-bar li > a:active, .top-bar li > a:link, .top-bar li > a:hover, .top-bar li > a:visited {
  width: 100%;
  text-decoration: none;
  color: #fafafa;
}
.top-bar > li.active {
  background-color: #fafafa;
}
.top-bar > li.active > a, .top-bar > li.active > a:active, .top-bar > li.active > a:link, .top-bar > li.active > a:hover, .top-bar > li.active > a:visited {
  color: #db3236;
}

/** sidebar */
/** default layout (desktop) */
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 0em 1em;
  padding: 0.8em;
  align-items: flex-start;
}
.sidebar .sidebar-common {
  order: 1;
  margin: 0em;
  padding: 0.5em;
}
.sidebar .sidebar-common .sidebar-common-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: large;
  margin-bottom: 0.2em;
  padding: 0.15em;
}
.sidebar .sidebar-common .sidebar-common-items {
  padding-left: 0.8em;
  list-style: decimal;
  font-size: medium;
  font-family: constantia;
}
.sidebar .sidebar-common .sidebar-common-items li > a {
  text-decoration: none;
  color: #0000ee;
}
.sidebar .sidebar-common .show {
  display: none;
}
.sidebar .sidebar-common .hide {
  display: inline;
}
.sidebar .sidebar-common .click-show .show {
  display: inline;
}
.sidebar .sidebar-common .click-show .hide {
  display: none;
}
.sidebar .sidebar-common .sidebar-common-items {
  display: none;
}
.sidebar .sidebar-common .click-show + .sidebar-common-items {
  display: block;
}
.sidebar .sidebar-tags {
  order: 1;
  margin: 0em 0em 1em 0em;
}
.sidebar .sidebar-categories {
  order: 2;
}

@media (max-width: 600px) {
  .sidebar {
    margin: 0em 0em 1em 0em;
  }
}
/** footer */
.footer-container {
  box-sizing: border-box;
  margin-top: 0.8em;
  padding: 0.7em 0.4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-container .beian a, .footer-container .beian a:visited {
  text-decoration: none;
  color: black;
}

.goto-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
  z-index: 999;
  text-align: center;
}
.goto-top a {
  width: 100%;
  height: 100%;
  padding: 0.2em;
  text-decoration: none;
  color: black;
}

/** FIXME */
@keyframes fadeout {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.goto-top.hide {
  display: none;
  animation-name: fadeout 1s forwards;
}

/** toc styles */
#post-toc {
  position: fixed;
  padding: 1em;
  background-color: #6a737d;
  box-sizing: border-box;
  font-family: rockwell;
  /** default layout */
  min-width: 28%;
  min-height: 60%;
  left: 0em;
  top: 20%;
  border-radius: 0em 1em 1em 0em;
  /** telephone */
}
#post-toc .toc-name {
  text-align: center;
  font-size: larger;
  margin-bottom: 0.8em;
  color: #4285f4;
}
@media (max-width: 600px) {
  #post-toc {
    width: 80%;
    min-height: 50%;
    left: 10%;
    top: 0em;
    border-radius: 0em 0em 1em 1em;
  }
}
#post-toc a {
  text-decoration: none;
  color: #0000ee;
}
#post-toc .toc-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#post-toc .toc-title .toc-controller {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#post-toc .toc-title .toc-controller > .toc-hide {
  display: none;
}
#post-toc .toc-title .toc-controller.hide-the-toc .toc-hide {
  display: inline;
}
#post-toc .toc-title .toc-controller.hide-the-toc .toc-show {
  display: none;
}
#post-toc .toc-number {
  margin-right: 0.2em;
}
#post-toc .toc-number:after {
  content: ".";
}
#post-toc .toc-title + .toc-children {
  margin-left: 1em;
}
#post-toc .toc-children-hide {
  display: none;
}
#post-toc.hide-toc {
  display: none;
}

#post-toc-switcher {
  position: fixed;
  left: -0.85em;
  bottom: 50%;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-image: radial-gradient(transparent, #969696);
  background-color: #4285f4;
}
@media (max-width: 600px) {
  #post-toc-switcher {
    left: 48%;
    width: 2em;
    height: 2em;
    bottom: -0.9em;
  }
}

#post-toc-switcher.hide {
  display: none;
}
#post-toc-switcher.hide:hover {
  display: block;
}

#post-toc.toc-in-show + #post-toc-switcher {
  display: none !important;
}

/** bibliography style */
.bibliography {
  margin-top: 1.8em;
  padding: 0.7em;
  border-radius: 0.3em;
  background-color: #f3f3f3;
}
.bibliography .bibliography-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.3em;
  font-size: larger;
  font-weight: bold;
  font-family: rockwell;
}
.bibliography .bibliography-divide-line {
  width: 100%;
  height: 2pt;
  background-color: black;
  margin: 0.5em 0em 0.9em 0em;
}
.bibliography .bibliography-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5em;
}
.bibliography .bibliography-list .bibliography-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bibliography .bibliography-list .bibliography-item .bibliography-order {
  margin-right: 0.35em;
}
.bibliography .bibliography-list .bibliography-item .bibliography-order:after {
  content: ".";
}
.bibliography .bibliography-list .bibliography-item .authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 0.35em;
}
.bibliography .bibliography-list .bibliography-item .authors:after {
  content: ".";
}
.bibliography .bibliography-list .bibliography-item .authors .author:not(:last-child) {
  margin-right: 0.18em;
}
.bibliography .bibliography-list .bibliography-item .authors .author:not(:last-child):after {
  content: ",";
}
.bibliography .bibliography-list .bibliography-item .title {
  margin-right: 0.35em;
  font-style: italic;
}
.bibliography .bibliography-list .bibliography-item .title:after {
  content: ".";
}
.bibliography .bibliography-list .bibliography-item .publisher {
  margin-right: 0.35em;
}
.bibliography .bibliography-list .bibliography-item .publisher:after {
  content: ".";
}
.bibliography .bibliography-list .bibliography-item .year:after {
  content: ".";
}

/** style for slame-image script */
.slame-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slame-images .slame-image {
  margin-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slame-images .slame-image .slame-image-description {
  margin-bottom: 0.8em;
  padding: 0.1em 0.8em;
}
.slame-images .slame-image .slame-image-description .slame-image-figure-number {
  font-weight: bold;
}

/** slame theme for hexo */
/** scripts */