/** colors */
/** reusable */
/** dimension */
/** toc styles */
#post-toc {
  position: fixed;
  padding: 1em;
  background-color: #6a737d;
  box-sizing: border-box;
  font-family: rockwell;
  /** default layout */
  min-width: 28%;
  min-height: 60%;
  left: 0em;
  top: 20%;
  border-radius: 0em 1em 1em 0em;
  /** telephone */
}
#post-toc .toc-name {
  text-align: center;
  font-size: larger;
  margin-bottom: 0.8em;
  color: #4285f4;
}
@media (max-width: 600px) {
  #post-toc {
    width: 80%;
    min-height: 50%;
    left: 10%;
    top: 0em;
    border-radius: 0em 0em 1em 1em;
  }
}
#post-toc a {
  text-decoration: none;
  color: #0000ee;
}
#post-toc .toc-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#post-toc .toc-title .toc-controller {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#post-toc .toc-title .toc-controller > .toc-hide {
  display: none;
}
#post-toc .toc-title .toc-controller.hide-the-toc .toc-hide {
  display: inline;
}
#post-toc .toc-title .toc-controller.hide-the-toc .toc-show {
  display: none;
}
#post-toc .toc-number {
  margin-right: 0.2em;
}
#post-toc .toc-number:after {
  content: ".";
}
#post-toc .toc-title + .toc-children {
  margin-left: 1em;
}
#post-toc .toc-children-hide {
  display: none;
}
#post-toc.hide-toc {
  display: none;
}

#post-toc-switcher {
  position: fixed;
  left: -0.85em;
  bottom: 50%;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-image: radial-gradient(transparent, #969696);
  background-color: #4285f4;
}
@media (max-width: 600px) {
  #post-toc-switcher {
    left: 48%;
    width: 2em;
    height: 2em;
    bottom: -0.9em;
  }
}

#post-toc-switcher.hide {
  display: none;
}
#post-toc-switcher.hide:hover {
  display: block;
}

#post-toc.toc-in-show + #post-toc-switcher {
  display: none !important;
}