/** colors */
/** reusable */
/** top bar styles */
.top-bar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0em 0em 0.1em 0em;
  align-content: space-around;
  background-color: #db3236;
}
.top-bar li .text {
  display: none;
}
.top-bar li:hover .text {
  display: inline;
}
.top-bar li:hover .icon {
  display: none;
}
.top-bar li {
  flex-basis: 1em;
  flex-grow: 1;
  padding: 0.3em 0.5em;
  margin: 0em 0.5em;
  text-align: center;
  border-radius: 0.3em;
}
.top-bar li > a, .top-bar li > a:active, .top-bar li > a:link, .top-bar li > a:hover, .top-bar li > a:visited {
  width: 100%;
  text-decoration: none;
  color: #fafafa;
}
.top-bar > li.active {
  background-color: #fafafa;
}
.top-bar > li.active > a, .top-bar > li.active > a:active, .top-bar > li.active > a:link, .top-bar > li.active > a:hover, .top-bar > li.active > a:visited {
  color: #db3236;
}