/** colors */
/** top bar styles */
.top-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 1em;
  align-content: space-around;
}
.top-bar li {
  flex-basis: 1em;
  flex-grow: 1;
  padding: 0.3em 0.5em;
  margin: 0em 0.5em;
  text-align: center;
  border-radius: 0.3em;
  background-color: rgba(100, 150, 150, 0.3);
}
.top-bar li > a, .top-bar li > a:active, .top-bar li > a:link, .top-bar li > a:hover, .top-bar li > a:visited {
  text-decoration: none;
  color: #193219;
}